@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}
@using UralSibSite.Models.Assesments;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <title></title>
</head>
<body>

    <div class="bodyinfo">
        <div>
            <div class="blockinfo">
                @using (Html.BeginForm("AssesmentsInfo", "Home", FormMethod.Post))
                {
                    <input type="text" name="UserId" placeholder="Поиск по Id">
                    <datalist class="lists" id="datalist">
                        @foreach (Assesment asses in ViewBag.Assesments)
                        {
                            <option value="ID пользователя @asses.UserId"> ID талона @asses.Id</option>
                        }
                    </datalist>
                    <button name="UserId" value="find"></button>
                }


            </div>
        </div>
    </div>
</body>
</html>
