@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>

    <div class="blockinfoone">
        <img src="http://localhost:50072/Home/CreateGraph"/>
    </div>
    <div class="blockinfotwo">
        <a href="#" id="usersone">

            <h2>Посетителей за сегодня:</h2>

        </a>
    </div>
</body>
