@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>
<body>
    <h1>Selected ID</h1>
    @ViewBag.OfficeId
</body>
