@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}

<!DOCTYPE html>
@using UralSibSite.Models.Offices;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <script type = "text/javascript" href = "https://code.jquery.com/jquery-3.4.0.js"></script>
    @Scripts.Render("~/MyScripts/MyScript.js")
  
    <title></title>
</head>
<body>


    <div class="lining">
    </div>
    <div class="liningtwo">
    </div>
    <div class="bodyinfo">
        <div>
            <div class="blockinfo">

                @using (Html.BeginForm("DepartmentInfo", "Home", FormMethod.Post))
                {
                    <input type="text" name="Id" placeholder="Искать здесь..." list="datalist">
                    <button name="Id" value="find"></button>
                    <datalist class="lists" id="datalist">
                        @foreach (Office office in ViewBag.ListOffices)
                        {
                            <option value="@office.Id">@office.Address</option>
                        }
                    </datalist>
                }




                    <ul>
                        @foreach (Office office in ViewBag.ListOffices)
                        {

                            <li><a href=@Url.Action($"DepartmentInfo/{office.CompanyId}")>@office.Address</a></li>

                        }
                    </ul>
                </div>
         
        </div>
    </div>


</body>
</html>
