@{
    Layout = null;
}

<!DOCTYPE html>
@using UralSibSite.Models;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       @{
           foreach(Office office in ViewBag.ListOffices)
           {
                 <h1>@office.Id</h1>
           }

         }
    </div>
</body>
</html>
