@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}

<h1 id="">Произошла ошибка</h1>
<div>
     <div>
         <h2  id="second" >Запрашиваемая страницца не существует
         </h2>
     </div>   

</div>


