@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">

</head>
<h1 id="">Произошла ошибка</h1>
<div>
     <div>
         <h2  id="second" >Запрашиваемая страницца не существует
         </h2>
     </div>   

</div>


