@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
    ViewBag.Title = "Home Page";

}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>

<body>
    <div>
       <div class="blockinfoone">>
            <img src="@Url.Action("GetChart")" />

        </div>
       <div class="blockinfotwo">
           <img src="http://localhost:50072/Home/BarChart?Id=1" />
       </div>
    </div>
</body>
   