@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
    ViewBag.Title = "Home Page";

}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>

<body>
    <div>
        <div class="blockinfoone">
            <img src="@Url.Action("MakePieChart")" />

        </div>
        <div class="blockinfotwo">
            <a href="#" id="usersone">

                <h2>Посетителей за сегодня:</h2>
                <h1>@ViewBag.sum</h1>
                <h3>-Юридических лиц: @ViewBag.yur</h3>
                <h3>-Физических лиц: @ViewBag.phiz</h3>
            </a>
        </div>
    </div>
</body>
   