@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
    ViewBag.Title = "Home Page";

}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
</head>

<body>
    <div>
        <div>            
            <img src="http://localhost:50072/Home/PieChart" />
        </div>
       <div > 
       </div>
    </div>
</body>
   