@{
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
    ViewBag.Title = "Home Page";

}
   
        
<body>
    vcrsbvwS V,r mrkl
    <img src="~/Content/Images/www_uralsib.png"/>
    <img src=@Url.Action("MakePieChart")/>

</body>
   