

<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/MasterPageStyle.css">
    <title></title>
</head>
<body>
    <header>
        <div>
            <div class="wholesome">
                <a href="https://www.uralsib.ru/">
                    <img id="logo" src="~/Content/Images/www_uralsib.png" />
                </a>
            </div>
            <div class="menu">

                <a href="#" id="first">Главная</a>
                <a href="#" id="second">Отделы</a>
                <a href="#" id="third">Пользователи</a>
            </div>
        </div>
    </header>
    <div class="lining">
    </div>
    <div class="liningtwo">
    </div>
    <div class="bodyinfo">
        <div>
            <div class="blockinfo">
                @RenderBody()
            </div>
        </div>
    </div>

   
    <footer>
        <div>
            <div class="foottext">
                <h1>
                    © 2005-2019 ПАО «БАНК УРАЛСИБ». Генеральная лицензия Банка России №30 выдана 10.09.2015 г.
                </h1>
            </div>
        </div>
    </footer>
</body>
</html>