<div class="lining">
</div>
<div class="liningtwo">
</div>
<div class="bodyinfo">
    <div>
        <div class="blockinfoone">
            <!в этот блог диаграмму>

        </div>
        <div class="blockinfotwo">
            <a href="#" id="usersone">
                <!вместо цифр значиния>
                <h2>Пользователей за сегодня:</h2>
                <h1>12345</h1>
                <h3>-Юридических лиц: 12340</h3>
                <h3>-Физических лиц: 5</h3>
            </a>
        </div>
    </div>
</div>